.footer{

    display: flex;
    background-color: burlywood;
    /* justify-content: center; */
    
}
#footerul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.footerli{
    display: inline;
    margin-left: 20px;
    margin-right: 10px;
}
.txtDcrtion{
    text-decoration: none;
    color:blue;
}