nav{
    display: flex;
    background-color: aqua;
    /* justify-content: center; */
    
}
#navUl{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.navLi{
    display: inline;
    margin-left: 20px;
    margin-right: 10px;
}
.txtDcrtion{
    text-decoration: none;
    color:red;
}